{% extends 'base.html' %}{% block content %}



<div>
  <a class="btn btn-success mb-3" href="{% url 'event-create' %}" role="button">Create Event</a>
  
</div>
{% for event in events %}


<div class="container-fluid mb-3 p-0">

    <div class="row">
      <div class="col-sm-1 border-right justify-content-center align-self-center">
        <div>{{event.votes}}</div>
        <div>OnGoing</div>
        <!-- <h1>{{events.count}}</h1> -->
        
      </div>
      <div class="col-sm-1 border-right justify-content-center align-self-center">
        <div>123</div>
        <div>Views</div>
      </div>
      <div class="col-sm-9">
        <div class="card">
          <div class="card-body">
            <h4>
              <a href="{% url 'event-detail' event.id %}" class="card-title"
                >{{ event.name }}</a
              >
            </h4>
            <p class="card-text">
              {{event.description|safe|truncatewords:50}}
            </p>
            <div class="d-flex justify-content-between">
                <i class="fas fa-clock fa-lg">start from {{ event.start_date|date:"M d, Y" }}</i>
                <i class="fas fa-clock fa-lg">end at {{ event.end_date|date:"M d, Y" }}</i>
            </div>
          </div>
          <div class="card-footer text-muted">
            <div class="text-center d-flex justify-content-between">
              <span>{{ event.date_posted|date:"M d, Y" }}</span>
              <span>{{ event.author }}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}

{% endblock content %}