{% extends 'base.html' %} {% block content %} {% for question in questions %}
<div class="container-fluid mb-3 p-0">
  <div class="row">
    <div class="col-sm-1 border-right justify-content-center align-self-center">
      <div>{{question.votes}}</div>
      <div>Votes</div>
    </div>
    <div class="col-sm-1 border-right justify-content-center align-self-center">
      <div>123</div>
      <div>Views</div>
    </div>
    <div class="col-sm-9">
      <div class="card">
        <div class="card-body">
          <h4>
            <a href="{% url 'question_detail' question.id %}" class="card-title"
              >{{ question.title }}</a
            >
          </h4>
          <p class="card-text">
            {{question.description|safe|truncatewords:50}}
          </p>
        </div>
        <div class="card-footer text-muted">
          <div class="text-center d-flex justify-content-between">
            <span>{{ question.date_posted|date:"M d, Y" }}</span>
            <span>{{ question.author }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endfor %} {% endblock content %}
