{% extends 'base.html' %} {% block content %} {% for question in questions %}
<div class="container-fluid mb-3">
  <div class="row">
    <div class="col-sm-1">
      <div class="vote mt-3">
        <span class="text-success"> <i class="fas fa-sort-up fa-2x"></i></span>
        <p class="mt-2">{{question.vote}}</p>
        <span class="text-danger"> <i class="fas fa-sort-down fa-2x"></i></span>
      </div>
    </div>
    <div class="col-sm-11">
      <div class="card">
        <div class="card-body">
          <h4>
            <a href="{% url 'question_detail' question.id %}" class="card-title"
              >{{ question.title }}</a
            >
          </h4>
          <p class="card-text">
            {{question.description|safe|truncatewords:50}}
          </p>
        </div>
        <div class="card-footer text-muted">
          <div class="text-center d-flex justify-content-between">
            <span>{{ question.date_posted|date:"M d, Y" }}</span>
            <span>{{ question.author }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endfor %} {% endblock content %}
