<!-- Start of Navbar -->

<!-- Start of Navbar -->

<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Student Hub</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarTogglerDemo02"
    aria-controls="navbarTogglerDemo02"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'question_list' %}"
          >Home <span class="sr-only"></span
        ></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'note_list' %}"
          >Notes<span class="sr-only"></span
        ></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'event-list' %}"
          >Event<span class="sr-only"></span
        ></a>
      </li>
    </ul>

    <!-- Search Section -->
    <div class="col-sm">
      <input
        style="width: 90%"
        class="form-control-sm"
        type="search"
        placeholder="Search"
      />
    </div>
    <!-- End of Search Section  -->

    <!-- Navbar Right Side -->
    <!-- What the user sees if he is logged in -->
    {% if user.is_authenticated %}

    <!-- Start of profile section -->
    <div class="navbar-nav ml-auto mt-lg-0 mx-2">
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdownMenuLink"
            role="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            <img
              src="{{user.profile.image.url}}"
              width="30"
              height="30"
              class="rounded-circle"
            />
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="{% url 'profile' %}"><i class="fas fa-user pr-2"></i>Profile</a>
            <a class="dropdown-item" href="{% url 'logout' %}"><i class="fas fa-sign-out-alt pr-2"></i>Log Out</a>
          </div>
        </li>
      </ul>
      <!-- End Of Profile Section -->
        <a class="nav-link active" href="{% url 'question_create' %}"
          >Question <span class="sr-only"></span
        ></a>
      </li>
    </div>
    <!-- What the user sees if he is not logged in -->
    {% else %}

    <div class="navbar-nav ml-auto mt-lg-0 mx-2">
      <a
        class="btn btn-sm btn-outline-info my-sm-0 mr-2"
        href="{% url 'login' %}"
        >Log In</a
      >
      <a class="btn btn-sm btn-outline-info my-sm-0" href="{% url 'register' %}"
        >Sign Up</a
      >
    </div>

    {% endif %}
    <!-- End of Navbar Right Side -->
  </div>
</nav>

<!-- End of Navbar-->

<!-- End of Navbar-->
